.ResetPassword_layout {
    /* quên mật khẩu */
    position: relative;
    width: 1440px;
    height: 810px;
    /* BG */
    /* background: #F7F7F7; */
    border-radius: 16px;
    display: block;
}

.ResetPassword_Layout_Left {
    float: left;
    background: #B1B1B1;
    /* background: #6b4545; */
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.ResetPassword_Layout_Left_logo {
    /* Logo alta */
    position: absolute;
    width: 170px;
    height: 136px;
    left: 208px;
    top: 82px;
}

.ResetPassword_Layout_Left_logo_img {
    width: 100%;
}

.ResetPassword_Layout_Left_text {
    /* Đặt lại mật khẩu mới */
    position: absolute;
    left: 13.75%;
    right: 71.6%;
    top: 39.51%;
    bottom: 56.42%;
    /* 22/22 Bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-500 */
    color: #282739;
}

.ResetPassword_Layout_Left_form {
    /* Group 323 */
    position: absolute;
    width: 400px;
    height: 75px;
    left: 94px;
    top: 365px;
}

.ResetPassword_Layout_Left_form_item {
    position: absolute;
    width: 75px;
    height: 27px;
    left: 0px;
    top: 0px;
    /* 18/18 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    color: #37474F;
}

.ResetPassword_Layout_Left_form_input {
    /* Input */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 12px;
    position: absolute;
    width: 400px;
    height: 44px;
    left: 0px;
    top: 30px;
    /* white */
    background: #FFFFFF;
    /* Gray/$-gray-100 */
    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;
}

.ResetPassword_Layout_Left_form_1 {
    /* Frame 624730 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 400px;
    height: 75px;
    left: 94px;
    top: 456px;
}

.ResetPassword_Layout_Left_form_item_1 {
    position: static;
    width: 146px;
    height: 27px;
    left: 0px;
    top: 0px;
    /* 18/18 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    color: #37474F;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ResetPassword_Layout_Left_form_input_1 {
    /* Input */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 12px;
    position: static;
    width: 400px;
    height: 44px;
    left: 0px;
    top: 31px;
    /* white */
    background: #FFFFFF;
    /* Gray/$-gray-100 */
    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ResetPassword_layput_left_Button {
    /* Button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: absolute;
    width: 162px;
    height: 40px;
    left: 219px;
    top: 579px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    /* down */
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    color: white;
    border: none;
}

.ResetPassword_Layout_Right {
    position: absolute;
    width: 848px;
    height: 810px;
    left: 592px;
    top: 0px;
    /* White */
    background: #FFFFFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.ResetPassword_Layout_Right_img {
    /* Frame */
    position: absolute;
    width: 711px;
    height: 560px;
    left: 43px;
    top: 153px;
}

.clear_both {
    clear: both;
}